{% extends 'default.html' %}


{% block title %}
{{ post.title}}
{% endblock title %}


{% block content %}
<h1> {{ post.title }}</h1>
{{ post.text }}
<br> <br> <br>
    <form action="{% url 'board:add_repl' post.id %}" method="post" enctype="">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Сохранить" />
    </form>
<br>
{%if post.reply_set.all%}
<h5>Все отклики</h5>
{% for reply in post.reply_set.all %}
<table>
    <tr>
    <td>{{reply.author.username}}</td>
    <td>{{reply.text}}</td>
    </tr>
</table>

{%endfor%}
{%endif%}
<br>
 <a href="/board">
        <button>На главную страницу</button>
    </a>
{% endblock content %}

