
{% extends 'default.html' %}



{% block content %}
<h2> Все отклики на объявления пользователя {{user.username}} </h2>
<form action="" method="get">
    {{filterset.form.as_p}}
    <input type="submit" value="Найти">
</form>
 <a href="/board/">
    <button>На главную страницу</button>
    </a>
<hr>
<h5>Все отклики на выбранное объявление:</h5>
{% if filterset.qs %}
{% for reply in filterset.qs %}
<h5>Отклик от пользователя {{ reply.authorReply }}: {{ reply.text }}</h5>
{% endfor %}
{% endif %}

{% endblock content %}